In [2]:
import pandas as pd
import numpy as np

In [22]:
result = pd.read_csv('examples/a.csv', sep='\s+', na_values=['NULL'])

In [23]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [24]:
pd.read_csv?

In [30]:
pd.read_csv('examples/ex6.csv', sep='\s+', nrows=2)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B

Writing Data to Text Format

In [34]:
data = pd.read_csv('examples/a.csv')
data.to_csv('examples/out.csv')
data

                         \tA \tB \tC
0  aaa -0.264438 -1.026059 -0.619500
1    bbb 0.927272 0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3   ddd -0.871858 -0.348382 1.100491

In [37]:
import sys
data.to_csv(sys.stdout, sep='|')

|	A 	B 	C
0|aaa -0.264438 -1.026059 -0.619500
1|bbb 0.927272 0.302904 -0.032399
2|ccc -0.264273 -0.386314 -0.217601
3|ddd -0.871858 -0.348382 1.100491