In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [10]:
print(df.sum(axis = 'columns', skipna=False))
print(df.mean(axis = 'index', skipna=True))

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64
one    3.083333
two   -2.900000
dtype: float64